<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="JsonConsole">
            <CustomJsonLayout applicationName="easy-client-adapter"/>
        </Console>
        <Console name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <logger name="com.modusbox" level="info" additivity="false">
            <AppenderRef ref="JsonConsole"/>
        </logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>