<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0                       http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>${user.home}/.m2/repository</localRepository>
    <servers>
        <server>
            <id>portx-repository-snapshots</id>
            <username>dev</username>
            <password>RockStar1000</password>
        </server>
        <server>
            <id>portx-repository-releases</id>
            <username>dev</username>
            <password>RockStar1000</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>default</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>portx-repository-snapshots</id>
                    <name>portx-repository-snapshots</name>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                    <url>https://portx.jfrog.io/portx/portx-snapshots</url>
                </repository>
                <repository>
                    <id>portx-repository-releases</id>
                    <name>portx-repository-releases</name>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <url>https://portx.jfrog.io/portx/portx-releases</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
</settings>